/* PAGE CONTAINER */
.page-container {
  border: 4px solid #1b1b1b;
  max-width: 900px;
  margin: 20px auto;
  background: #ffffff;
  box-sizing: border-box;
  padding: 0;
  border-radius: 10px;
  box-shadow: 0 0 10px #cccccc;
}

/* BODY  */
body {
  margin: 0;
  padding: 0;
  background: #f3f3f3;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}

/* HEADER  */
header {
  background: #fe7902;
  padding: 25px;
  color: #1b1b1b;
  border-bottom: 4px solid #f6042e;
}

header h1 {
  margin: 5px 0 10px;
}

header button {
  padding: 10px 16px;
  background: #f6042e;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
header button:hover {
  background: #d50327;
}

/*  FORM  */
form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
  max-width: 350px;
  margin: 20px auto;
}

form input,
form select {
  width: 100%;
  padding: 8px;
  border: 2px solid #ffae2e;
  border-radius: 5px;
}

form button {
  margin-top: 10px;
  padding: 10px 12px;
  background: #f6042e;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
form button:hover {
  background: #d50327;
}

/*  */
form > * {
  width: 100%;
  box-sizing: border-box;
}

/* TASK LIST  */
#task-list {
  padding: 0;
  margin: 20px auto;
  max-width: 600px;
}

#task-list li {
  list-style: none;
  background: #ffffff;
  padding: 12px 15px;
  margin-bottom: 12px;
  border: 2px solid #ffae2e;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* MAIN TEXT */
.task-main strong {
  color: #f6042e;
  font-size: 18px;
}

.task-meta {
  font-size: 14px;
  color: #555;
}

/* ACTION BUTTONS */
.complete-btn {
  background: #ffae2e;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.complete-btn:hover {
  background: #f79b00;
}

.delete-btn {
  color: #f6042e;
  font-weight: bold;
  font-size: 20px;
  margin-left: 15px;
  cursor: pointer;
}

/* FOOTER */
footer {
  background: #1b1b1b;
  color: white;
  padding: 20px;
  margin-top: 30px;
}

